{% extends 'account/base.html' %}

{% load compress %}


{% block head_title %}Thrid party account sign in - {{ block.super }}{% endblock %}

{% block content %}
  {% if process == 'connect' %}
    <display-5>Connect with {{ provider.name }}</display-5>
    <p>You are about to connect a new third party account from {{ provider.name }}.</p>
  {% else %}
    <display-5>Sign in via {{ provider.name }}</display-5>
    <p>You are about to sign in using a third party account from {{ provider.name }}.</p>
  {% endif %}

  <django-form action="" btn-text="Continue" class="q-mb-lg"></django-form>
{% endblock %}

{% block scripts %}
{% compress js inline %}
  <script type="text/javascript">
    var app = Vue.createApp({});
    Sparta.utils.registerComponents(app, [DjangoComponents, SpartaCommonComponents]);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
