[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
bcrypt = "*"
commonmark = "*"
django = "*"
djangorestframework = "*"
django-allauth = "*"
django-compressor = "*"
django-cors-headers = "*"
django-countries = "*"
django-dnt = "*"
django-ical = "*"
django-libsass = "*"
django-modeltranslation = "*"
django-vite = "*"
drf-writable-nested = "*"
gevent = "*"
gunicorn = "*"
hiredis = "*"
huey = "*"
inertia-django = "*"
mysqlclient = "*"
openpyxl = "*"
pyyaml = "*"
redis = "*"
requests = "*"
sentry-sdk = "*"
tzdata = "*"
uritemplate = "*"
whitenoise = "*"

[dev-packages]
black = "*"
colorama = "*"
django-debug-toolbar = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
flake8 = "*"
flake8-mypy = "*"
maya = "*"
factory-boy = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
sqlalchemy = "*"
