{% extends 'account/base.html' %}


{% block head_title %}Sign out - {{ block.super }}{% endblock %}

{% block content %}
  <display-5>Sign out</display-5>
  <p>Are you sure you want to sign out of sparta.ugent.be?</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <q-btn unelevated color="primary" type="submit" class="q-mt-sm">Yes, please</q-btn>
  </form>
{% endblock %}
