{% extends 'account/base.html' %}

{% load compress %}


{% block head_title %}Change password - {{ block.super }}{% endblock %}

{% block content %}
  <display-5>Change password</display-5>
  <django-form action="{% url 'account_change_password' %}" :fields="fields" btn-text="Change password"></django-form>
{% endblock %}

{% block scripts %}
{% compress js inline %}
  <script type="text/javascript">
    var app = Vue.createApp({
      data: function () {
        return {
          visibleDrawer: true,
          fields: [
            {
              name: 'oldpassword',
              label: 'Current password',
              type: 'password',
              required: true
            },
            {
              name: 'password1',
              label: 'New password',
              type: 'password',
              required: true,
              class: 'col-md-6'
            },
            {
              name: 'password2',
              label: 'New password (again)',
              type: 'password',
              required: true,
              class: 'col-md-6'
            }
          ]
        };
      }
    });
    Sparta.utils.registerComponents(app, [DjangoComponents, SpartaCommonComponents]);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
