{% extends 'account/base.html' %}

{% load compress %}


{% block head_title %}Sign up - {{ block.super }}{% endblock %}

{% block content %}
  <display-5>Sign up</display-5>

  <django-form action="{% url 'account_signup' %}" :fields="fields" btn-text="Sign up" class="q-mb-lg">
    <div class="q-mt-md">
      {{ form.captcha }}
    </div>
  </django-form>

  <q-separator></q-separator>
  <p class="text-caption q-mt-lg">
    <q-icon name="vpn_key" size="14px" class="q-mr-sm"></q-icon>
    <span>Have an account? </span><a href="{{ login_url }}">Log in</a>
  </p>
{% endblock %}

{% block scripts %}
{% compress js inline %}
  <script type="text/javascript">
    var app = Vue.createApp({
      data: function () {
        return {
          fields: [
            {
              name: 'first_name',
              label: 'First name',
              type: 'text',
              required: true,
              class: 'col-md-6'
            },
            {
              name: 'last_name',
              label: 'Last name',
              type: 'text',
              required: true,
              class: 'col-md-6'
            },
            {
              name: 'email',
              label: 'Email',
              type: 'email',
              required: true
            },
            {
              name: 'username',
              label: 'Username',
              type: 'text',
              required: true
            },
            {
              name: 'password1',
              label: 'Password',
              type: 'password',
              required: true,
              class: 'col-md-6'
            },
            {
              name: 'password2',
              label: 'Password (again)',
              type: 'password',
              required: true,
              class: 'col-md-6'
            }
          ]
        };
      }
    });
    Sparta.utils.registerComponents(app, [DjangoComponents, SpartaCommonComponents]);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
