{% extends 'layout.html' %}

{% load i18n %}


{% block page %}
  <div class="row q-my-lg" :class="{'q-mt-xl': $q.screen.gt.sm}">
    <div class="col-3 col-md-2"></div>
    <div class="col-9 col-md-10">
      <div class="row q-col-gutter-x-xl">
        <div class="col-12 col-md-5 q-pr-xl">
          <h5 class="q-mt-none q-mb-md">{% trans 'Not this time' %}</h5>
          <p>{% blocktranslate with email=CONTACT_EMAIL %}You are not authorized to view the page you are trying to open. Please <a href="mailto:{{ email }}">contact us</a> if you believe you are seeing this page incorrectly and should have access to the resource you are looking for.{% endblocktranslate %}</p>
          <p class="text-grey">403 Forbidden</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
