{% extends 'layout.html' %}


{% block content %}
  <div class="row q-my-lg" :class="{'q-mt-xl': $q.screen.gt.sm}">
    <div class="col-12 col-md-2 q-pr-xl"></div>
    <div class="col-12 col-md-6 col-lg-4 q-pb-xl">
      <h2 class="text-display-2">403 Forbidden</h2>
      <p>You don't have the necessary permissions to access this page.</p>
      <p class="text-caption q-mt-lg">Did we miss something? <a href="mailto:{{ CONTACT_EMAIL }}">Contact us</a> if you were hoping to find something here.<br>Or just take a shortcut to our <a href="/">homepage</a> and start again...</p>
    </div>
  </div>
{% endblock %}
