{% extends 'layout.html' %}

{% load i18n %}


{% block page %}
  <div class="row q-my-lg" :class="{'q-mt-xl': $q.screen.gt.sm}">
    <div class="col-3 col-md-2"></div>
    <div class="col-9 col-md-10">
      <div class="row q-col-gutter-x-xl">
        <div class="col-12 col-md-5 q-pr-xl">
          <h5 class="q-mt-none q-mb-md">{% trans "Sorry, we couldn't find that page" %}</h5>
          <p>{% blocktranslate with email=CONTACT_EMAIL %}Did we miss something? <a href="mailto:{{ email }}">Contact us</a> if you think you are seeing this page incorrectly and that the source you are looking for should exist.</p>{% endblocktranslate %}
          <p class="text-grey">404 Not Found</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
