{% extends 'base.html' %}

{% load compress %}
{% load i18n %}
{% load static %}


{% block header %}
  <q-header class="row ugent__header bg-white">
    <q-toolbar class="col-3 col-md-2 bg-white q-pl-none">
      <a href="/">
        {% if LANGUAGE_CODE == 'nl' %}
          <img src="{% static 'images/ugent.svg' %}" class="logo q-mr-sm">
        {% else %}
          <img src="{% static 'images/ugent_en.svg' %}" class="logo q-mr-sm">
        {% endif %}
      </a>
    </q-toolbar>
    <q-toolbar class="col-9 col-md-10 text-white q-pl-md q-pb-sm {% if DJANGO_ENV == 'staging' %}bg-ge{% else %}bg-ugent{% endif %}" :class="{'q-pl-lg': $q.screen.gt.sm}" style="align-items: flex-end">
      <h2 class="text-uppercase q-ma-none">Metis</h2>
      <div class="absolute-top-right header-links text-white q-py-sm q-px-md q-gutter-x-lg" :class="{'q-py-md q-px-lg': $q.screen.gt.sm}">
        {% if user.is_authenticated %}
          {% if user.is_staff %}<a href="/admin/">Admin</a>{% endif %}
          <metis-user-menu display-name="{{ user.name }}" locale="{{ LANGUAGE_CODE }}"></metis-user-menu>
        {% else %}
          <a href="{% url 'account_login' %}">{% translate 'Sign in' %} <q-icon name="login" size="xxs"></q-icon></a>
        {% endif %}
        <metis-locale-menu action-url="{% url 'set_language' %}" locale="{{ LANGUAGE_CODE }}"></metis-locale-menu>
      </div>
    </q-toolbar>
    {% block toolbar_menu %}{% endblock %}
  </q-header>
{% endblock %}

{% block page %}
  {% block content %}{% endblock %}
{% endblock %}

{% block scripts %}
{% compress js inline %}
  <script type="text/javascript">
    var app = Vue.createApp({
      data: function () {
        return {
          visibleDrawer: true
        };
      }
    });
    Metis.utils.registerComponents(app, [MetisCommonComponents]);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
