{% load socialaccount %}

{% get_providers as socialaccount_providers %}


<q-list class="row">
  {% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
      {% for brand in provider.get_brands %}
        <q-item clickable v-ripple tag="a" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}" class="col-12 col-sm">
          <q-item-section avatar>
            <socialaccount-provider provider="{{ brand.name }}"></socialaccount-provider>
          </q-item-section>
          <q-item-section>{{ brand.name }}</q-item-section>
        </q-item>
      {% endfor %}
    {% endif %}

    <q-item clickable v-ripple tag="a" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="col-12 col-sm">
      <q-item-section avatar>
        <socialaccount-provider provider="{{ provider.id }}"></socialaccount-provider>
      </q-item-section>
      <q-item-section>{% if provider.name == 'Microsoft Graph' %}UGent{% else %}{{ provider.name }}</q-item-section>
      {% endif %}
    </q-item>
  {% endfor %}
</q-list>
