{% extends 'layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}{{ education.code }} - {{ block.super }}{% endblock %}

{% block toolbar_menu %}
  <q-toolbar class="col-12 col-md-10 offset-md-2 bg-white text-primary q-pl-none">
    <q-tabs shrink dense class="ugent__submenu q-gutter-md">
      <q-tab no-caps>Stagebureau</q-tab>
      <!--<q-route-tab no-caps>Other</q-route-tab>-->
    </q-tabs>
  </q-toolbar>
{% endblock %}

{% block drawer %}
  <q-drawer show-if-above v-model="visibleDrawer" side="left" :elevated="$q.screen.lt.md" class="q-pt-lg text-weight-medium" :width="214">
    <q-scroll-area class="fit">
      <div class="q-pt-lg q-pb-xl q-pr-md">
        <q-list :dense="$q.screen.gt.sm">
          <q-item clickable :to="{name: 'programs'}">
            <q-item-section avatar>
              <q-icon name="app_registration" size="xs"></q-icon>
            </q-item-section>
            <q-item-section>Programs</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'students'}">
            <q-item-section avatar>
              <q-icon name="person_search" size="xs"></q-icon>
            </q-item-section>
            <q-item-section>Students</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'calendar'}">
            <q-item-section avatar>
              <q-icon name="calendar_month" size="xs"></q-icon>
            </q-item-section>
            <q-item-section>Calendar</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'places'}">
            <q-item-section avatar>
              <q-icon name="business" size="xs"></q-icon>
            </q-item-section>
            <q-item-section>Places</q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-scroll-area>
  </q-drawer>
{% endblock %}

{% block content %}
  <div id="vars"></div>
  <router-view></router-view>
{% endblock %}

{% block vue_templates %}
  {% include './v-calendar.html' %}
  {% include './v-places.html' %}
  {% include './v-programs.html' %}
  {% include './v-students.html' %}
{% endblock %}

{% block scripts %}
{% compress js file app_office %}
  <script src="{% static 'js/components/forms.js' %}"></script>
  <!--<script src="{% static 'js/mixins/event_related.js' %}"></script>
  <script src="{% static 'js/mixins/query.js' %}"></script>
  <script src="{% static 'js/mixins/uploader.js' %}"></script>-->
  <script type="text/javascript">
    var VARS = document.querySelector('#vars').dataset;

    var Store = Vuex.createStore({
      state: {
      },
      getters: {
      },
      mutations: {
      }
    });

    var CalendarView = {
      template: '#v-calendar',
    };

    var PlacesView = {
      template: '#v-places',
    };

    var ProgramsView = {
      template: '#v-programs',
    };

    var StudentsView = {
      template: '#v-students',
    };

    var Router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes: [
        {
          path: '/',
          redirect: {name: 'programs'}
        },
        {
          name: 'calendar',
          path: '/calendar/',
          pathToRegexpOptions: {strict: true},
          component: CalendarView
        },
        {
          name: 'places',
          path: '/places/',
          pathToRegexpOptions: {strict: true},
          component: PlacesView
        },
        {
          name: 'programs',
          path: '/programs/',
          pathToRegexpOptions: {strict: true},
          component: ProgramsView
        },
        {
          name: 'students',
          path: '/students/',
          pathToRegexpOptions: {strict: true},
          component: StudentsView
        },
      ]
    });

    var app = Vue.createApp({
      data: function () {
        return {
          visibleDrawer: true
        };
      },
      created: function () {
        // this.$q.loading.show();
      }
    });

    Epione.utils.registerComponents(app, [EpioneCommonComponents, EpioneFormComponents]);

    app.use(Store);
    app.use(Router);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
