{% extends 'account/base.html' %}

{% load compress %}


{% block head_title %}Emails - {{ block.super }}{% endblock %}

{% block content %}
  <display-5>Emails</display-5>

  {% if user.emailaddress_set.all %}
    <p>The following e-mail addresses are associated with your METIS account. The primary email will be used for communications:</p>

    <form method="post" action="{% url 'account_email' %}">
      {% csrf_token %}
      <input type="hidden" name="email" v-model="associatedEmail">
      <q-list>
        {% for emailaddress in user.emailaddress_set.all %}
          <q-item tag="label" v-ripple class="col-12 col-md">
            <q-item-section avatar>
              <q-radio v-model="associatedEmail" val="{{ emailaddress.email }}"></q-radio>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ emailaddress.email }}</q-item-label>
              <q-item-label caption>{% if emailaddress.verified %}<q-icon name="verified" class="q-mr-xs"></q-icon>Verified{% else %}<q-icon name="report" color="red-12" class="q-mr-xs"></q-icon>Unverified{% endif %}</q-item-label>
            </q-item-section>
            {% if emailaddress.primary %}
              <q-item-section side>
                <q-chip color="positive" text-color="white" icon="done" size="sm">Primary</q-chip>
              </q-item-section>
            {% endif %}
          </q-item>
        {% endfor %}
      </q-list>

      <div class="q-gutter-sm q-my-lg">
        <q-btn unelevated color="primary" name="action_primary" type="submit" :disable="!associatedEmail">Make primary</q-btn>
        <q-btn unelevated color="primary" name="action_send" type="submit" :disable="!associatedEmail">Re-send verification</q-btn>
        <q-btn outline color="red-12" name="action_remove" type="submit" :disable="!associatedEmail">Remove</q-btn>
      </div>
    </form>
  {% else %}
    <p><strong>Warning:</strong> you currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc.</p>
  {% endif %}

  <q-separator class="q-my-lg"></q-separator>

  <django-form action="{% url 'account_email' %}" :fields="fields" btn-text="Add email" btn-name="action_add"></django-form>
{% endblock %}

{% block scripts %}
{% compress js inline %}
  <script type="text/javascript">
    var app = Vue.createApp({
      data: function () {
        return {
          visibleDrawer: true,
          associatedEmail: null,
          fields: [
            {
              name: 'email',
              label: 'Email address',
              type: 'email',
              required: true
            }
          ]
        };
      }
    });
    Metis.utils.registerComponents(app, [DjangoComponents, MetisCommonComponents]);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
