{% extends 'account/base.html' %}

{% load account %}
{% load compress %}


{% block head_title %}Reset your password - {{ block.super }}{% endblock %}

{% block content %}
  <display-5>Reset your password</display-5>

  {% if user.is_authenticated %}
    {% include 'account/snippets/already_logged_in.html' %}
  {% endif %}

  <p>Enter your email address and we will send you a link to reset your password.</p>

  <django-form action="{% url 'account_reset_password' %}" :fields="fields" btn-text="Send reset instructions" class="q-mb-lg"></django-form>

  <q-separator></q-separator>
  <p class="text-caption q-mt-lg">
    <q-icon name="alternate_email" size="14px" class="q-mr-sm"></q-icon>
    <span><a href="mailto:{{ CONTACT_EMAIL }}">Contact us</a> if you have problems resetting your password.</span>
  </p>
{% endblock %}

{% block scripts %}
{% compress js inline %}
  <script type="text/javascript">
    var app = Vue.createApp({
      data: function () {
        return {
          fields: [
            {
              name: 'email',
              label: 'Email',
              type: 'email',
              required: true
            }
          ]
        };
      }
    });
    Metis.utils.registerComponents(app, [DjangoComponents, MetisCommonComponents]);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
